.content {
	gap: 10px;
	padding-top: 10px;
}

.content > div {
	width: 100%;
}


.content-data {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.content-data > img {
	min-width: 230px;
	width: 20%;
	border: 1px solid;
	border-radius: 10px;
	border-color: #DD9E1F;
}


.content-serials-data > div {
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
	gap: 20px;

	border-top: 2px solid;
	border-right: 2px solid;
	border-color: #DD9E1F;

	width: 25%;
	@media (max-aspect-ratio: 1/1) {
		width: 50%;
	}
}

.content-serials-data > div > select {
	width: 100%;
	height: 2em;
	outline: none;

	font-size: 14px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}

.content-serials-data > div > select:first-child {
	border-right: 2px solid;
	border-color: #DD9E1F;
}

.content-serials-data > div > select:last-child {
	border-left: 2px solid;
	border-color: #DD9E1F;
}


.conent-video-block > video {
	width: 100%;
	border-top: 2px solid;
	border-color: #DD9E1F;
}