.header > a {
	background-color: #FFD98C;

	border-right: 2px solid;
	border-color: #DD9E1F;

	cursor: pointer;
	padding: 0px 10px;
	transition: background-color 0.15s;
}

.header > a:hover {
	background-color: #F3E1BC;
}

.content > a {
	padding: 0px 10px;
}

.content > div {
	width: 100%;
}

.content > div > div {
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
	gap: 20px;

	border-top: 2px solid;
	border-right: 2px solid;
	border-color: #DD9E1F;

	width: 25%;
	@media (max-aspect-ratio: 1/1) {
		width: 50%;
	}
}

.content > div > div > select {
	width: 100%;
	height: 2em;
	outline: none;

	font-size: 14px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}

.content > div > div > select:first-child {
	border-right: 2px solid;
	border-color: #DD9E1F;
}

.content > div > div > select:last-child {
	border-left: 2px solid;
	border-color: #DD9E1F;
}

.content > video {
	width: 100%;
	border-top: 2px solid;
	border-color: #DD9E1F;
}