.content {
	gap: 10px;
}

.content-data {
	display: grid;
	gap: 10px;
	grid-template-areas: 
		"poster header"
		"poster info";
	grid-template-columns: 300px minmax(0, 1fr);
    grid-template-rows:    auto 1fr;
    padding: 0px 10px;

	@media (max-aspect-ratio: 1/1) {
		display: flex;
		flex-direction: column;
	}
}

.content-data-header {
	grid-area: header;

	@media (max-aspect-ratio: 1/1) {
		display: flex;
		justify-content: center;
	}
}

.content-data-poster {
	grid-area: poster;
	display: flex;
	justify-content: center;
}

.content-data-info {
	grid-area: info;
}

.content-data-poster > img {
	width: 300px;
	border: 2px solid;
	border-radius: 10px;
	border-color: #DD9E1F;

	@media (max-aspect-ratio: 1/1) {
		width: 60%;
	}
}


.conent-video-block {
	border-top: 2px solid;
	border-color: #DD9E1F;
	background-color: #333;
}

.content-serials-data-selects {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	padding: 10px;

	@media (max-aspect-ratio: 1/1) {
		width: 50%;
	}
}

.content-serials-data > div > select {
	width: 100%;
	height: 2em;
	outline: none;
	border-right: 2px solid;
	border-radius: 5px;
	border-color: #DD9E1F;

	font-size: 14px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}


.conent-video-block > video {
	width: 100%;
	aspect-ratio: 16 / 6;
	object-fit: contain;
	background-color: #000;
}