body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;

	font-family: "Consolas";
	font-size: 20px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}

.header {
	width: 100%;
	display: flex;
	flex-direction: raw;
	background-color: #F3E1BC;

	min-height: 50px;
	@media (max-aspect-ratio: 1/1) {
		min-height: 100px;
	}
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	@media (max-aspect-ratio: 1/1) {
		width: 100%;
	}

	@media (min-aspect-ratio: 1/1) {
		border-left: 2px solid;
		border-right: 2px solid;
	}
	border-bottom: 2px solid;
	border-color: #DD9E1F;
}