body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;

	font-family: "Consolas";
	font-size: 20px;
	@media (max-aspect-ratio: 1/1) {
		font-size: 36px;
	}
}

.header {
	width: 100%;
	display: flex;
	flex-direction: raw;
	background-color: #F3E1BC;

	min-height: 50px;
	@media (max-aspect-ratio: 1/1) {
		min-height: 100px;
	}
}

.header > a {
	font-size: 1.2em;
	background-color: #FFD98C;

	border-right: 1px solid;
	border-color: #DD9E1F;

	cursor: pointer;
	padding: 0px 10px;
	transition: background-color 0.15s;
}

.header > a:hover {
	background-color: #F3E1BC;
}

.content {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}