body {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;
	background-color: #EFEABF;
}

.header {
	height: 30px;
	width: 100%;
	display: flex;
	flex-direction: raw;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
	background-color: #E0D1B3;
}

.content {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
	background-color: #FFFCDD;
}