.header > a {
	font-size: 1.2em;
	padding: 0px 10px;
}

.content {
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	row-gap: 20px;
	column-gap: 20px;
	margin: 20px 0px;
	border: none;
}

.content > div {
	flex-basis: 230px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	gap: 10px;

	border: 1px solid;
	border-radius: 10px;
	border-color: #DD9E1F;

	cursor: pointer;
	transition: 0.15s;
}

.content > div:hover {
	background-color: #F3E1BC;
}

.content > div > img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid;
	border-color: #DD9E1F;
	mix-blend-mode: multiply;
}

.content > div > div {
	display: flex;
	flex-direction: column;
	padding: 0px 5px;
}

.film-type {
	font-size: 0.9em;
	color: gray;
}