.header > a {
	padding: 0px 10px;
}

.content {
	gap: 20px;
}

.content > div {
	display: flex;
	flex-direction: row;
	gap: 10px;

	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #DD9E1F;

	cursor: pointer;
	transition: background-color 0.15s;
}

.content > div:hover {
	background-color: #F3E1BC;
}

.content > div:first-child {
	border-top: 0px;
}

.content > div:last-child {
	border-bottom: 0px;
}

.content > div > img {
	max-width: 20%;
	border-right: 2px solid;
	border-color: #DD9E1F;
}

.content > div > div {
	display: flex;
	flex-direction: column;
}

.film-type {
	font-size: 20px;
	color: gray;
}