.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 20px;

	@media (max-aspect-ratio: 1/1) {
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 50px;
	}
}

.content > div {
	flex-basis: 200px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	gap: 10px;

	border: 1px solid;
	border-radius: 10px;
	border-color: #DD9E1F;

	cursor: pointer;
	transition: 0.15s;

	@media (max-aspect-ratio: 1/1) {
		border: 3px solid;
		border-radius: 0px;
		border-left: none;
		border-right: none;
		border-color: #DD9E1F;
	}
}

.content > div:hover {
	background-color: #F3E1BC;
}

.content > div > img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 2px solid;
	border-color: #DD9E1F;
	mix-blend-mode: multiply;

	@media (max-aspect-ratio: 1/1) {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}

.content > div > div {
	display: flex;
	flex-direction: column;
	padding: 0px 5px;
}

.film-type {
	font-size: 0.9em;
	color: gray;
}